@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="col-lg-6 col-md-8">
    <div class="card bg-secondary border-0">
        <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
                <h3>Registrar</h3>
            </div>
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input asp-for="Input.Nombre" class="form-control" placeholder="Ingrese el Nombre" type="text" />
                        @*<br />
                        <span asp-validation-for="Input.Nombre" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input asp-for="Input.Apellido" class="form-control" placeholder="Ingrese el Apellido" type="text" />
                        @*<br />
                        <span asp-validation-for="Input.Apellido" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input asp-for="Input.Cedula" class="form-control" placeholder="Ingrese la Cedula" type="text" />
                        @*<br />
                        <span asp-validation-for="Input.Cedula" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input asp-for="Input.NoCuenta" class="form-control" placeholder="Ingrese el Usuario de Fihogar" type="text" />
                        @*<br />
                        <span asp-validation-for="Input.NoCuenta" class="text-danger"></span>*@
                    </div>
                </div>
                <div class="form-group">

                    <select asp-for="Input.Sexo" class="input-group input-group-merge input-group-alternative mb-3">
                        <option selected>-- Seleccione el Sexo--</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                    @*<br />
                    <span asp-validation-for="Input.Sexo" class="text-danger"></span>*@
                </div>

                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                        </div>
                        <input asp-for="Input.FechaNacimiento" class="form-control" type="date" />
                    </div>
                    @*<br />
                    <span asp-validation-for="Input.FechaNacimiento" class="text-danger"></span>*@
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                        </div>
                        <input asp-for="Input.Email" class="form-control" placeholder="Ingrese el Correo Electronico" type="email" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input asp-for="Input.Password" class="form-control" placeholder="Ingrese la contraseña" type="password" />

                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                        </div>
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirme la contraseña" type="password" />

                    </div>
                </div>
                <div class="text-muted font-italic"><small>La Contraseña de ser: <span class="text-success font-weight-700">Fuerte</span></small></div>
                <div class="row my-4">
                    <div class="col-12">
                        <div class="custom-control custom-control-alternative custom-checkbox">
                            <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                            <label class="custom-control-label" for="customCheckRegister">
                                <span class="text-muted">Esto de acuerdo con la <a href="#!">Politica de Privacidad</a></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success mt-4">Crear Cuenta</button>
                </div>
            </form>
        </div>
    </div>
</div>


@*<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Use another service to register.</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
